<nav class="bg-gray-900 text-gray-100 p-4">
  <ul class="flex space-x-4">
    <li><a href="/" class="hover:text-gray-400">Home</a></li>
    <li><a href="tools" class="hover:text-gray-400">Tools</a></li>
    <li><a href="resume" class="hover:text-gray-400">Resume</a></li>
    <li><a href="about" class="hover:text-gray-400">About</a></li>
  </ul>
</nav>
