---

---

<div id="container" class="font-sans h-screen flex flex-col items-center justify-center">
	<main class="flex flex-col items-center justify-center px-4">
		<section id="hero" class="flex flex-col items-start justify-center space-y-4">
			<h1 class="text-2xl font-bold mt-1">Jeff Keddy is (constantly)Under Construction</h1>
            <p>My name is Jeff Keddy, I'm a professional computer toucher. I've worked primarily in the web space, but am comfortable with everything from soldering iron to cloud infrastructure. I don't believe in thinking of myself as an <code>X developer</code>. Let's choose the right tool for the right job and all that.</p>
            <h2 class="text-lg font-bold mt-2">What is this?</h2>
            <p class="text-white text-base leading-6">Who really knows what anything is? I've opted to finally do something with my domain(s) and this is phase 1</p>
			<p class="text-white text-base leading-6">
				I'll be adding additional content to this space and probably other spaces and maybe even a space in between those spaces soon. I hastily whipped this up with Astro, Tailwind and Shadcn. They are all bloated and overkill, hurray! In the meanest of times, click these buttons if you want. One of them might do something!
			</p>
			<div class="flex space-x-4">
				<a class="px-4 py-2 text-white bg-gradient-to-r from-blue-600 to-purple-500 rounded-lg shadow hover:opacity-90" href="https://profile.indeed.com/p/jeffk-cyy43lb" target="_blank">Resume (Indeed)</a>
				<a class="px-4 py-2 text-white bg-gradient-to-r from-blue-600 to-purple-500 rounded-lg shadow hover:opacity-90" href="https://github.com/gibsonsmog" target="_blank">Github</a>
                <button class="px-4 py-2 text-white bg-gradient-to-r from-purple-600 to-blue-500 rounded-lg shadow hover:opacity-90">Magic</button>
			</div>
		</section>
	</main>
</div>
